.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
}

.topRight {
  justify-content: flex-end;
  margin: 0;
}

.topCenter {
  flex: 6;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

/* --------------- navbar ----------------- */

.nav {
  background-color: white;
  padding: 0 2rem;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav .nav-items {
  display: flex;
  margin: 0 1rem;
  justify-content: center;
}

.nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem;
}

.nav-link:hover {
  background-color: var(--midnight);
}

.nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-family: var(--Lexend);
  font-size: 1.6rem;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.button-hamburger:hover {
  background: none !important;
}

@media only screen and (max-width: 670px) {

  .topRight,
  .topCenter {
    display: none
  }

  .topLeft {
    padding-bottom: .5rem;
    padding-top: .5rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger .button-hamburger {
    height: 100%;
    min-width: 0;
    width: 14px;
    padding: 0;
    color: var(--text-gray);
  }
}